<mat-toolbar color="primary" [class.mat-elevation-z2]="true">
  <button mat-button class="logo" (click)="setView('HOME')">
    <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg">
  </button>

  <button mat-button (click)="setView('LIST_TICKETS')">
    List Tickets
  </button>
  <button mat-button (click)="setView('ADD_TICKET')">
    Add ticket
  </button>

  <span class="flex-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <span>Cezar Sirbu</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<section>
  <div fxFlex="80" fxFlexOffset="10">
    <div *ngIf="['HOME'].includes(state.view)">
      <h1>Welcome to Tickets Tutorial!</h1>
    </div>

    <div *ngIf="['LIST_TICKETS', 'ADD_TICKET'].includes(state.view)">
      <app-tickets-container></app-tickets-container>
    </div>
  </div>
</section>
