.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.logo {
  img {
    height:26px;
    margin: 0 4px 3px 0;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}


.mat-toolbar-single-row {
  height:auto;
  padding:8px 16px;
}
