<h2>Create ticket</h2>
<div>
  <form [formGroup]="form"
        (ngSubmit)="createTicket(form.value)"
        fxLayout="column"
        fxLayoutAlign="space-between start">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" >
      <mat-error *ngIf="form.get('title').invalid">
        Title is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">
          Description is required.
        </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!form.valid">Create ticket</button>
  </form>
</div>
