
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

$roboto-font-path: '~roboto-fontface/fonts/';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface.scss';

html, body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}
